body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addInput {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.about {
  display: flex;
  padding: 1rem;

  flex-direction: column;
  align-items: center;
}

.about p {
  max-width:700px;
}

.header {
  padding: 0 1rem;
}

.todo {
  display: flex;
  margin: 0 1em 1em;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #f3f3f3;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.todo span {
  width: 100%;

}

.delete {
  color: #ef5350;
}
